<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
    {{>header}}
    <div class="container p-5">
        <h1>Group Members</h1>
    <table class="table">
        <thead>
        <tr>
        <th>Team Members</th>
        <th>Symbol No.</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td>James Kumar Shrestha</td>
        <td>20146</td>
        </tr>
        <tr>
        <td>Rambabu Poddar</td>
        <td>20176</td>
        </tr>
        <tr>
        <td>Romeo Jung Lama</td>
        <td>20183</td>
        </tr>
        <tr>
        <td>Sushant Adhikari</td>
        <td>20206</td>
        </tr>
        </tbody>
    </table>
    </div>
    {{>footer}}
    {{>script}}
</body>
</html>