<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <title>Ecommerce Admin</title>
    </head>
    <body>
        <div class="main-content">
          {{>header}}
          <h1>Add a product</h1>
          <form id="product-form">
          <label for="name">Name:</label>
          <input type="text"  id="name">
          <br>
          <label for="price">Price:</label>
          <input type="number"  id="price">
          <br>
          <label for="image">Image: </label>
          <input type="file"  id="file" name="image">
          <button>Submit</button>
          <h1 id="success-save"></h1>
    
           </form>
          <script src="/js/admin.js">

        </script>
          </div>
          {{>footer}}
          
    </body>
</html>