<!DOCTYPE html>
<html>
  {{>head}}
    <body>
      <style>
        #clear{
          margin-right: 2rem;
        }
      </style>
      {{>header}}
        <div class="main-content container">
          <p id="empty-message"></p>
        </div>
          {{>script}}
          <script src="/js/checkout.js"></script>
    </body>
</html>