<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <title>Ecommerce</title>
    </head>
    <body>
        <div class="main-content">
          {{>header}}
          <p id="empty-message"></p>
          <script src="/js/index.js">

        </script>
          </div>
          {{>footer}}
          
    </body>
</html>