<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather.png">
        <title>Weather</title>
    </head>
    <body>
        <div class="main-content">
          {{>header}}
          <form>
            <input type="text" placeholder="Address" id="add" step="0.01"> <button>Search</button><br>
          </form>
          <p id="message-1"></p>
          <p id="message-2"></p>
          <p id="message-3"></p>
          </div>
          {{>footer}}
          <script src="/js/app.js">

        </script>
    </body>
</html>