
<header>
    <div id="main-header">
    <h1>{{title}}</h1>
    <div id="user-details">
    </div>
    </div>
    <a href="/">Ecommerce</a>
    <a href="/checkout">About</a>
    <a href ="/login">Login</a>
    <a href ="/register">Register</a>
    
</header>